
<% content_for :title, "soapBox Sign up" %>
<div id="container">

  <div id="content">

    <div id="formContainer">
      <% if (flash[:notice]) %>
        <div id="errorContainer">
          <%= flash[:notice] %>
          <% flash[:notice] = nil %>
        </div>
      <% end %>
      
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

      <div>
        <%= f.email_field :email, :class => 'inputField', :placeholder => t(:email_holder), :size => '40'  %>
      </div>

      <div>
        <%= f.password_field :password, :class => 'inputField', :placeholder => t(:password), :size => '40' %>
      </div>

      <div>
        <%= f.password_field :password_confirmation, :class => 'inputField', :placeholder => t(:confirm_password), :size => '30' %>
        <%= f.submit t(:sign_up),class: "button" %>
      </div>

      <hr>
      <div id="sign_in">
        <span class="normalText"><%= t(:exist_already) %> </span> 
        <%= link_to t(:sign_in), new_user_session_path(locale: params[:locale]), class: "button" %>
      </div>

    <% end %>

    <%# CR_Priyank: ruby code os not commented here %>
    <!--<%= render "devise/shared/links" %> -->
    </div>

    <p class="text"><%= t(:welcome, app: AppName) %><br>
      <%= t(:app_intro) %>
    </p>
  </div>
</div>