<% for comment in post.comments %>
<div class="comments">
  <%if !(comment.tags.nil?) %>
    <% for user in extract_tags_from_comment(comment.tags) %>
       <% comment.content.gsub!(/#{user.name}/i) {|user_name|  link_to(user_name, user_path(id: user.id), class: 'tags') } %> 
    <% end %>
  <% end %>

  <%= image_tag comment.user.avatar, class: 'thumbnailImage' %>
  <%= link_to comment.user.name, comment.user %>:
  <%= sanitize(comment.content,tags: %w(a))  %>
  <% if(comment.user == current_user) %>
  
  <%= link_to 'x', comment_path(comment),method: :delete, class: "removeComment rightAlign" %>
  <% end %>

</div>
<% end %>
<div class="createComment">
  <%= form_tag comments_path(post_id: post.id) do %>
    <div>
        <%= submit_tag "Comment", class: 'btn-success commentSubmit smallText rightAlign' %>
    </div>
    <div class="composeCommentContainer">
      <div class="composeTextCopy smallText"></div>
      <%= text_area_tag :content, '', id: 'commentContent' + post.id.to_s, placeholder: 'Enter your comment..',class: 'commentText smallText',autocomplete: "off" %>
    </div>
  <% end %>

</div>
