<% for comment in post.comments %>
  <div class = "comments">
    <%# CR_Priyank: Move this to a helper method %>
    <%# [Fixed] %>
    <% extract_tags_from_comment(comment) if(comment.tags.present?) %>
    
    <%= image_tag comment.user.avatar, class: 'thumbnailImage' %>
    <%= link_to comment.user.name, comment.user %>:
    <%= sanitize(comment.content,tags: %w(a))  %>
    <% if(current_user.privileged?(comment)) %>
    
    <%= link_to 'x', comment_path(comment),method: :delete, class: "removeComment rightAlign" %>
    <% end %>

  </div>
<% end %>
<div class="createComment">
  <%= form_tag comments_path(post_id: post.id) do %>
    <div>
        <%= submit_tag "Comment", class: 'btn-success commentSubmit smallText rightAlign' %>
    </div>
    <div class="composeCommentContainer">
      <div class="composeTextCopy smallText"></div>
      <%= text_area_tag :content, '', id: 'commentContent' + post.id.to_s, placeholder: 'Enter your comment..',class: 'commentText smallText',autocomplete: "off" %>
    </div>
  <% end %>

</div>
