$(document).ready(function(){
  <% if flash.now[:alert].present? %>
    alert("Some error occured")
  <% else %>
  $("#like_post_<%= @like.post.id %>_count").text("<%= pluralize(@like.post.likes.count, 'Like') %>");
  $("#like_post_<%= @like.post.id %>").html('<a class="postOptionsLink" data-method="post" data-remote="true" href="/likes/'
    + '?post_id=<%= @like.post.id %>&amp;user_id=<%= current_user.id %>" id="like_post_<%= @like.post.id %>" rel="nofollow">Like</a>');
  <% end %>
});