<div id="groupDescriptionContainer" class="hero-unit">
  <img src="http://png-4.findicons.com/files/icons/1607/ruby_on_rails/256/ror_folder_256_v3.png" width="50" height="50" class="higlightPicture"/>
  <div id="groupTitle">
    <span><%= group.name.humanize %></span>
  </div>
  <!-- <div class="type">
  <p class="smallText"></p>
  </div> -->
  <div class="description">
    <span class="smallText"><%= group.description.try(:humanize) %>Sample Description</span>
  </div>
</div>  
<div class="hero-unit-extend">
  <ul class="nav nav-pills normalText">
    <li><%= link_to pluralize(group.users.size, "Member"), group_membership_index_path(id: group) %></li>
    <li><%= link_to pluralize(group.posts.size, "Conversation"), group %></li>
  </ul>
  <div class="rightAlign">
    <%= render :partial => 'groups/join_us', locals: {group: group } %>
  </div>
</div>