<div id="groupDescriptionContainer" class="hero-unit">
  <%= image_tag('ror.png', class:'highlightPicture mediumImage') %>
  <div id="groupTitle">
    <span><%= group.name.humanize %></span>
  </div>
  <!-- <div class="type">
  <p class="smallText"></p>
  </div> -->
  <div class="description">
    <span class="smallText"><%= group.description.try(:humanize) %>Sample Description</span>
  </div>
</div>  
<div class="hero-unit-extend">
  <% if user_privileged?(group) %>
    <div class="rightAlign verticalAlign20">
      <%= button_to 'Deactivate', group_path(group), method: :delete, class: 'btn-danger'  %>
    </div>
  <% end %>
  <ul class="nav nav-pills normalText">
    <li><%= link_to pluralize(group.users.size, "Member"), group_membership_index_path(id: group) %></li>
    <li><%= link_to pluralize(group.posts.size, "Conversation"), group %></li>
  </ul>
  
    <div class="rightAlign verticalAlign20">
        <%= render :partial => 'groups/join_us', locals: {group: group } %>
    </div>
</div>