<div class="page-header" id="groupPage">
  <div id="groupDescriptionContainer" class="hero-unit">
    <img src="http://png-4.findicons.com/files/icons/1607/ruby_on_rails/256/ror_folder_256_v3.png" width="50" height="50" class="higlightPicture"/>
    <div id="groupTitle">
      <span><%= @group.name.humanize %></span>
    </div>
    <!-- <div class="type">
    <p class="smallText"></p>
    </div> -->
    <div class="description">
      <span class="smallText"><%= @group.description.try(:humanize) %>Sample Description</span>
    </div>
  </div>  
  <div class="hero-unit-extend">
    <ul class="nav nav-pills normalText">
      <li><%= link_to pluralize(@group.users.size, "Member"), group_membership_index_path(id: @group) %></li>
      <li><a href="#"><%= pluralize(@group.posts.size, "Conversation") %> </a></li>
    </ul>
    <div class="rightAlign">
      <%= render :partial => 'join_us', locals: { group: @group } %>
    </div>
  </div>

  <% if current_user.groups.include?(@group) %>
    <div id="postContainer">
      <%= form_tag '/posts',id: 'postForm' do %>
        <%= text_field_tag 'post[content]', '', placeholder: 'Start a conversation...', id: 'composePostContent', class: "normalText" %> 
        <%= hidden_field_tag 'post[group_id]', @group.id  %>
      <% end %>

      <div id="groupPosts">
        <div class="normalText groupPosts ">
          <% for post in extract_posts %>
            <%= link_to image_tag(post.user.avatar,height: '25px', width: '25px'), post.user %>
            <span class="postAuthor"><%= link_to post.user.firstname, post.user %></span>
            <div class="postContent"><%= post.content %></div>
            <hr>
          <% end %>
          <div class="groupPageFinished">End of posts</div>
        </div>
      </div>
    </div>
  <% else %>
    <hr/>
    <div class="groupPageFinished">Join to view group details</div>  
  <% end %>
</div>