<%= form_for @user, :html => { :class => 'form-horizontal', :html => { :multipart => true }   } do |f| %>

  <div id="formHolder">
    <div class="control-group">
      <%= f.label :firstname, :class => '""' %>
      <div class="">
        <%= f.text_field :firstname, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :lastname, :class => '""' %>
      <div class="">
        <%= f.text_field :lastname, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :email, :class => '""' %>
      <div class="">
        <%= f.text_field :email, :class => 'text_field' %>
      </div>
    </div>  

    
  </div> 

  <div id="avatarContainer" class=" highlightPicture rightAlign verticalAlign20">
    <%= image_tag current_user.avatar.url(:large) %>
  </div>

  <div>
    <%= link_to 'Enable Twitter Integration', twitter_auth_users_path, id: 'twitterIntegration', class: 'blackButBlueOnHover' %>
    <div id="twitterIntegrationLogo"></div>
  </div>
  <br>

  <div>
    <%= f.label :picture, :class => '""' %>
    
    <div>  
      <%= f.file_field :avatar %>
    </div>

    <div class="rightAlign" id="updateProfile">
    <%= f.submit 'Update', :class => 'btn btn-success' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), user_path(@user), :class => 'btn btn-success colorWhite' %>
    </div>

  </div>

  

  

<% end %>
