<div id="miniProfile" class="hero-unit">
  <div id="avatarHolder" class="highlightPicture">
    <%= link_to(image_tag(user.avatar,class: 'largeImage'), '#profilePicContainer', data: { toggle: 'modal'}, role: "button") %>
    <div id='profilePicContainer'  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
      <div>
        <%= image_tag(user.avatar) %>
      </div>
    </div>
  </div>
  <div id="profileDetails">
    <span id="firstname"><%= user.firstname %></span>
    <span id="lasttname"><%= user.lastname %></span>
  </div>
</div>

<div class="hero-unit-extend">
  <ul class="nav nav-pills normalText">
    <li><%= link_to pluralize(user.followers.count, "Follower"), show_followers_user_path(user) %></li>
    <li><%= link_to pluralize(user.followees.count, "Following"), show_followees_user_path(user) %></li>
  </ul>
  <% if user_privileged?(user) %>
  <div class="rightAlign verticalAlign20">
    <%= button_to 'Deactivate', user_path(user), method: :delete, class: 'btn-danger'  %>
  </div>
  <%else%>
   <div class="rightAlign verticalAlign20">
    <%= render partial:  'following_status', locals: {user: user }  %>
  </div>
  <%end%>
</div>