
<div class="page-header">
  <div id="miniProfile" class="hero-unit">
    <div id="avatarHolder" class="higlightPicture">
      <%= image_tag current_user.avatar, width: '75px', height: '75px' %>
    </div>
    <div id="profileDetails">
      <span id="firstname"><%= @user.firstname %></span>
      <span id="lasttname"><%= @user.lastname %></span>
    </div>
  </div>

  <div class="hero-unit-extend">
    <ul class="nav nav-pills normalText">
      <li><a href="#"><%= pluralize(current_user.followers.count, "Follower") %> </a></li>
      <li><a href="#"><%= pluralize(current_user.followees.count, "Following") %> </a></li>
    </ul>
    <div class="rightAlign">
     <%= render partial:  'following_status', locals: {user: @user }  %>
    </div>
  </div>

</div>