
<div class="page-header">
  <div id="miniProfile" class="hero-unit">
    <div id="avatarHolder" class="higlightPicture">
      <%= image_tag current_user.avatar, width: '75px', height: '75px' %>
    </div>
    <div id="profileDetails">
      <span id="firstname"><%= current_user.firstname %></span>
      <span id="lasttname"><%= current_user.lastname %></span>
    </div>
  </div>

  <div class="hero-unit-extend">
    <ul class="nav nav-pills normalText">
      <li><a href="#"><%= pluralize(0, "Follower") %> </a></li>
      <li><a href="#"><%= pluralize(0, "Following") %> </a></li>
    </ul>
    <div class="rightAlign">
      <%= button_to('Follow') if (current_user != @user) %>
    </div>
  </div>

</div>