
<div class="page-header">
 <%= render partial: 'mini_profile', locals: {user: @user} %>

  <div id="postContainer">
      <% if(current_user.id == @user.id) %>
        <%= form_tag '/posts',id: 'postForm' do %>
          <%= text_field_tag 'post[content]', '', placeholder: 'Start a conversation...', id: 'composePostContent', class: "normalText" %> 
          <% groups_array = current_user.groups.map { |group| [group.name, group.id] } %>
          <div class="rightAlign"> 
            <span> Group </span> 
            <%= select_tag 'post[group_id]', options_for_select(groups_array), class: 'selectBoxSmall', id: "groupSelect" %>
          </div>
        <% end %>
      <% end %>

      <div id="postsContainer">
        <% for post in @user.posts %>
          <div class="normalText posts ">
            <%= link_to image_tag(post.user.avatar,height: '40px', width: '40px'), post.user %>
            <span class="postAuthorContainer"><%= link_to post.user.name, post.user,class: 'postAuthor' %></span>
            <div class="postContent largeText"><%= post.content %></div>
          </div>
        <% end %>
          <div class="groupPageFinished">End of posts</div>
      </div>
    </div>

</div>