
<div class="page-header">
  <%= render partial: 'mini_profile', locals: {user: @user} %>
  <% if(current_user.followees.include?(@user)) || current_user == @user %>
  
  <div id="postContainer">

    <!-- if current user can post -->
    <% if(current_user.id == @user.id) %>
      <div id="composePost">
        <%= form_tag '/posts',id: 'postForm' do %>
          <%= text_field_tag 'post[content]', '', placeholder: 'Start a conversation...', id: 'composePostContent', class: "normalText" %> 
          <% groups_array = current_user.groups.map { |group| [group.name.humanize, group.id] } %>
          <div class="composePostContentOptions">
            <div class="rightAlign"> 
              <span> Group </span> 
              <%= select_tag 'post[group_id]', options_for_select(groups_array), class: 'selectBoxSmall', id: "groupSelect" %>
              <%= submit_tag 'Post',class: 'btn-success postButton' %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

    <%= render partial: 'posts/posts', locals: {posts: @user.posts} %>
  </div>
  
  <% else %>
    <div class="centerAlignText borderAbove" id="followNoticeBox">Follow the user to see his/her conversation</div>
  <% end %>
</div>