<% content_for :title, "soapBox Log In" %>
<div id="container">

  <div id="content">

    <div id="formContainer">
      <% if (flash[:notice]) %>
        <div id="errorContainer">
          <%= flash[:notice] %>
          <% flash[:notice] = nil %>
        </div>
      <% end %>
      
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <div>
        <%= f.email_field :email, :autofocus => true, :class => 'inputField', :placeholder => t(:email_holder), :size => '40'  %>
      </div>

      <div>
        <%= f.password_field :password, :class => 'inputField', :placeholder => t(:password), :size => '30' %>
        <%= f.submit t(:sign_in), class: "button" %>
      </div>

      <div>
        <% if devise_mapping.rememberable? -%>
          <%= f.check_box :remember_me %> <%= f.label t(:remember_me), id: 'remember' %>
        <% end -%>
      </div>

      <hr>
      <div id="sign_up">
        <span class="normalText"><%= t(:new_here) %> </span> 
        <%= link_to t(:sign_up), new_user_registration_path(locale: params[:locale]), class: "button" %>
      </div>


    <% end %>

    <!--<%= render "devise/shared/links" %> -->
    </div>

    <p class="text"> <%= t(:welcome, app: AppName) %><br>
        <%= t(:app_intro) %>
    </p>
  </div>
</div>