<% not_posting_in_a_group = true if not_posting_in_a_group.nil? %>
<div id="composePost">
  <%= form_tag '/posts',id: 'postForm' do %>

    <div id="composePostContainer">
      <div id="composePostCopy" class="composeTextCopy normalText"></div>
      <%= text_area_tag 'post[content]', '', placeholder: 'Start a conversation...', id: 'composePostContent', class: "normalText", autocomplete: "off" %>
    </div> 

    <div class="composePostContentOptions">
      <div>
        <% if not_posting_in_a_group %> 
          <% groups_array = [['Public', nil]] %>
          <% groups_array += current_user.groups.map { |group| [group.name.humanize, group.id] } %>
          <span> Group </span> 
          <%= select_tag 'post[group_id]', options_for_select(groups_array), class: 'selectBoxSmall', id: "groupSelect" %>
        <% else %>
          <%= hidden_field_tag 'post[group_id]', @group.id  %>
        <% end %>
        <%= submit_tag 'Post',class: 'btn-success postButton' %>
      </div>
    </div>
  <% end %>
</div>