<!-- displaying posts -->
<div id="postsContainer">
  <% for post in posts %>
    <div class="normalText posts ">
      <div class="floatLeft postUserImage">
        <%= link_to image_tag(post.user.avatar, class: 'mediumImage'), post.user %>
      </div>
      <div class="postContent largeText">
        <div class="postAuthorContainer"><%= link_to post.user.name, post.user, class: 'postAuthor' %>
          <div class="postTime smallText">
            <%= post.created_at.to_formatted_s(:short) %>
          </div>
          <br/>
        </div>

        <div class="rightAlign verticalAlign20">
          <%= link_to('x', post_path(post), method: :delete) if current_user.privileged?(post) %>
        </div>
        
        <div class="postGroupTag rightAlign normalText">
            To <%= post.group.nil? ? 'All Company' : link_to(post.group.name.titleize, post.group) %>
        </div>

        <div>
          <%if !(post.tags.nil?) %>
            <% for user in extract_tags_from_post(post.tags) %>
               <% post.content.gsub!(/#{user.name}/i) {|user_name|  link_to(user_name, user_path(id: user.id), class: 'tags') } %> 
            <% end %>
          <% end %>

          <%= sanitize(post.content.gsub(URLRegex) {|url| "<a href='#{url}'>#{truncate(url, length:60)}</a>" }, tags: %w(a)) %>
        </div>
        <% if !(post.url_parsed_content.nil?) %>
          <% post_extra_content = post.url_parsed_content %>
          <div class = "postExtraContent">
            <% if !post_extra_content.video_id.nil? %>
              <div class = "youtubeVideo">
                <iframe class="youtube-player" type="text/html" width="400" height="300" src="http://www.youtube.com/embed/<%= post_extra_content.video_id %> " allowfullscreen  frameborder="0"></iframe>
              </div>
              <div class="youtubeVideoInfo">
                <%= link_to post_extra_content.title, post_extra_content.url %> 
              </div>
            <% end %>
            
            <% if !post_extra_content.image_url.nil? %>
              <div class = "postMedia floatLeft">
                <%= image_tag(post_extra_content.image_url,class: 'minSizeImage40') %> 
              </div>
              <div class = "postMediaInfo">
                <%= link_to post_extra_content.title, post_extra_content.url %> 
                <br>
                <%= link_to post_extra_content.url, post_extra_content.url, class:'smallText opacity5' %>
              </div>
            <% end %>

            
          </div>
        <% end %>
     
        <div class="postOptions">

          <% if ( (current_user.likes & post.likes).empty? ) %>
            <%= link_to 'Like', likes_path(post_id: post.id, user_id: current_user.id),  method: :post, remote: true  , class: 'postOptionsLink', id: "like_post_#{post.id.to_s}"  %> 
            <% else %>
              <%= link_to 'Unlike', like_path(post_id: post.id, user_id: current_user.id),  method: :delete, remote: true, class: 'postOptionsLink', id: "like_post_#{post.id.to_s}"  %> 
          <% end %>

          <%= link_to 'Comment', '', class: 'postOptionsLink postOptionsComment'  %>

          <%= render partial: 'likes/show_likes', locals: {post: post} %>

          <div class="commentsContainer" >
            <%= render partial: 'comments/comments', locals: {post: post} %>
          </div>

        </div>

      </div><!--end of postContent -->
    </div>
  <% end %>
    <div class="PageFinished borderAbove">End of posts</div>
</div>