<!-- displaying posts -->
<div id="postsContainer">
  <% for post in posts %>
    <div class="normalText posts ">
      <div class="floatLeft postUserImage">
        <%= link_to image_tag(post.user.avatar, class: 'mediumImage'), post.user %>
      </div>
      <div class="postContent largeText">

        <div class="postAuthorContainer"><%= link_to post.user.name, post.user,class: 'postAuthor' %></div>

        <div class="rightAlign verticalAlign20">
          <%= link_to('x', post_path(post), method: :delete) if current_user == post.user %>
        </div>
        <div><%= post.content %></div>
     
        <div class="postOptions">

          <% if ( (current_user.likes & post.likes).empty? ) %>
            <%= link_to 'Like', likes_path(post_id: post.id, user_id: current_user.id),  method: :post, remote: true  , class: 'postOptionsLink', id: "like_post_#{post.id.to_s}"  %> 
            <% else %>
              <%= link_to 'Unlike', like_path(post_id: post.id, user_id: current_user.id),  method: :delete,remote: true, class: 'postOptionsLink', id: "like_post_#{post.id.to_s}"  %> 
          <% end %>

          <%= link_to 'Comment', '', class: 'postOptionsLink postOptionsComment'  %>

          <div class="postLikes rightAlign">
            <%= link_to pluralize(post.likes.count, "Like"),'', id: "like_post_#{post.id.to_s}_count" %>
          </div>

          <div class="commentsContainer" >
            <%= render partial: 'comments/comments', locals: {post: post} %>
          </div>

        </div>

      </div><!--end of postContent -->
    </div>
  <% end %>
    <div class="groupPageFinished">End of posts</div>
</div>