if($('#postPreview').length != 1 )
{
  // prepend post preview and cancel button
  $('.composePostContentOptions').prepend('<div id="postPreview"></div><hr> ');
  $('#postPreview').append('<div class="rightAlign" id="removePreviewPost">x</div>');
 
  // if a you tube video
  <% if @url.include?('youtube.com/watch?v=') %>
    
    <% @video_id = @url.split("watch?v=")[1].split("&")[0] %>
    var VIDEO_ID = '<%= @video_id %>'
    
    $('#postPreview').append('<iframe class="youtube-player" type="text/html"'
    + 'width="400" height="300" src="http://www.youtube.com/embed/' +
    VIDEO_ID + '" allowfullscreen frameborder="0"></iframe>')
 
  //if a normal url/image needs to be parsed
  <% else %>

    // if a the url is a image
    <% if /(\.(jpg|png|gif))/ =~ @url%>
       var image = '<%=j @url %>' 
    // normal url parse
    <% else %>
      // extract first displayable image
      <% imageCollection = @doc.css("img")  %>
      <% @imageURL = '' %>
      <% for image in imageCollection  %> 
        <% if !(image.attributes["src"].nil?) %>
          <% @imageURL =  j(image.attributes["src"].try(:value)) %>
          <% break %>
        <% end %>
      <%end%>
      <% @imageURL = (@url + @imageURL) if !(@imageURL.include?('://') || (@imageURL.empty?)) %>
      var image = '<%=j @imageURL %>';    
    <% end %>
    $('#postPreview').append('<div><img class="atMaxLargeImage" src=' + image + '></img></div>')
  <% end %>
  // extract title and url
  var title = '<%= j link_to((@doc.title||''), @url) %>';
  var url = '<%= link_to truncate(@url, length:100), @url,class: "smallText" %>';
  $('#postPreview').append('<div>' + title + '</div><div>' + url + '</div>')

  //append hidden fields in the form corresponding to the extra content
  $('#postForm').append('<input type="hidden" name="post[extra_content][url]" value="<%=j @url%>"/>')
  <% if !(@doc.title.nil?) %>
    $('#postForm').append('<input type="hidden" name="post[extra_content][title]" value="<%=j @doc.title%>"/>')
  <% end %>
  <% if !(@imageURL.nil? || @imageURL.empty?) %>
    $('#postForm').append('<input type="hidden" name="post[extra_content][image_url]" value="<%=j @imageURL%>"/>')
  <% end %>
  <% if !(@video_id.nil?) %>
    $('#postForm').append('<input type="hidden" name="post[extra_content][video_id]" value="<%=j @video_id%>"/>')
  <% end %>
  // remove preview event 
  $('#removePreviewPost').click(function(){
    $('#postPreview').siblings('hr').remove();
    $('#postPreview').remove();
    $('#composePostContent').focus();
  });
} 